@model IEnumerable<TomatoPizzaCafe.Models.OrderItem>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="font-family: 'Brush Script MT'; font-size: 40px; text-align:center; color: brown">My Order</h1>
<style>

    html {
        background-image: url('@Url.Content("~/images/tomatocafe.jpg")');
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
        height: 50%;
    }

    h4 {
    color: green;
    font-style: italic;
    }

    footer {
        position: fixed;
        bottom: 0;
    }
</style>
<h4>@ViewBag.user</h4>
<table class="table">
    <thead>
        <tr>
            @{
                foreach (var item in Model)
                {
                    <th>
                        @Html.DisplayNameFor(model => model.Number)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Size)
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        Total: $@item.Order.TotalPrice.ToString("#,##0.00")
                    </th>
                    break;
                }
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    Total: @Html.DisplayFor(modelItem => item.Size) <span>"</span>
                </td>
                <td>
                    @{
                        if (item.Pizza != null)
                        {
                            @item.Pizza.Type
                            <br />
                        }
                        else
                        {
                            @item.MakeYourOwn.NumberToppings<span>-Topping Pizza</span>
                        }
                    }
                <td>
                    $@item.Price.ToString("#0.00")
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.OrderItemID">Edit</a> |*@
                    @*<a asp-action="Details" asp-route-id="@item.OrderID">Details</a> |*@
                    <a asp-action="Delete" asp-route-id="@item.OrderItemID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-controller="Pizzas" asp-action="Index">Back to Menu</a>
</div>