@model IEnumerable<TomatoPizzaCafe.Models.OrderItem>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Orders</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order.OrderID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                Type
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Order.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size) <span>"</span>
            </td>
            <td>
                @{
                    if (item.Pizza != null)
                    {
                        @item.Pizza.Type
                        <br />
                    }
                    else
                    {
                        @item.MakeYourOwn.NumberToppings<span>-Topping Pizza</span>
                    }
                }
            </td>
            @*<td>
                <a asp-action="Edit" asp-route-id="@item.OrderID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrderID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderID">Delete</a>
            </td>*@
        </tr>
    }
    </tbody>
</table>
