@model TomatoPizzaCafe.Models.Pizza

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <style>

    html {
        background-image: url('@Url.Content("~/images/tomatocafe.jpg")');
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
        height: 50%;
    }

    footer {
        position: fixed;
        bottom: 0;
    }
    </style>

</div>

<h1 style="font-family: 'Brush Script MT'; font-size: 40px; text-align:center; color: brown">Tomato Pizza's Menu</h1>

<h3>Are you sure you want to delete this pizza?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EightInchPrice)
        </dt>
        <dd>
            @Model.EightInchPrice.ToString("#0.00")
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TenInchPrice)
        </dt>
        <dd>
            @Model.TenInchPrice.ToString("#0.00")
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TwelveInchPrice)
        </dt>
        <dd>
            @Model.TwelveInchPrice.ToString("#0.00")
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FourteenInchPrice)
        </dt>
        <dd>
            @Model.FourteenInchPrice.ToString("#0.00")
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EighteenInchPrice)
        </dt>
        <dd>
            @Model.EighteenInchPrice.ToString("#0.00")
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="PizzaID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
