@model TomatoPizzaCafe.Models.MakeYourOwn

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <style>

    html {
        background-image: url('@Url.Content("~/images/tomatocafe.jpg")');
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
        height: 50%;
    }

    footer {
        position: fixed;
        bottom: 0;
    }
    </style>
</div>

<h1 style="font-family: 'Brush Script MT'; font-size: 40px; text-align:center; color: brown">Pizza Builder</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Crust" class="control-label"></label>
                <select asp-for="Crust" class="form-control">
                    @{
                        foreach (var crust in ViewBag.crust)
                        {
                            <option>@crust</option>
                        }
                    }
                </select>
                <span asp-validation-for="Crust" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Sauce" class="control-label"></label>
                <select asp-for="Sauce" class="form-control">
                    @{
                        foreach (var sauce in ViewBag.sauce)
                        {
                            <option>@sauce</option>
                        }
                    }
                </select>
                <span asp-validation-for="Sauce" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <br />
                <label asp-for="Topping1" class="control-label">Topping 1</label>
                <select asp-for="Topping1">
                    <option value=" "></option>
                    @{
                        foreach (var topping in ViewBag.toppings)
                        {
                            <option>@topping.Name</option>
                        }
                    }
                </select>
                <br />
                <label asp-for="Topping2" class="control-label">Topping 2</label>
                <select asp-for="Topping2">
                    <option value=" "></option>
                    @{
                        foreach (var topping in ViewBag.toppings)
                        {
                            <option>@topping.Name</option>
                        }
                    }
                </select>
                <br />
                <label asp-for="Topping3" class="control-label">Topping 3</label>
                <select asp-for="Topping3">
                    <option value=" "></option>
                    @{
                        foreach (var topping in ViewBag.toppings)
                        {
                            <option>@topping.Name</option>
                        }
                    }
                </select>
                <br />
                <label asp-for="Topping4" class="control-label">Topping 4</label>
                <select asp-for="Topping4">
                    <option value=" "></option>
                    @{
                        foreach (var topping in ViewBag.toppings)
                        {
                            <option>@topping.Name</option>
                        }
                    }
                </select>
                <br />
                <label asp-for="Topping5" class="control-label">Topping 5</label>
                <select asp-for="Topping5">
                    <option value=" "></option>
                    @{
                        foreach (var topping in ViewBag.toppings)
                        {
                            <option>@topping.Name</option>
                        }
                    }
                </select>
                <br />
                <label asp-for="Topping6" class="control-label">Topping 6</label>
                <select asp-for="Topping6">
                    <option value=" "></option>
                    @{
                        foreach (var topping in ViewBag.toppings)
                        {
                            <option>@topping.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <hr />
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

