@model TomatoPizzaCafe.Models.MakeYourOwn

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="font-family: 'Brush Script MT'; font-size: 40px; text-align:center; color: brown">Make Your Own Pizza</h1>

<div>
    <h4>Details</h4>
    <hr />

    <dl class="dl-horizontal">
        @{
            if (Model.Topping1 != null)
            {
                <dt>
                    @Html.DisplayNameFor(modelItem => Model.Topping1)
                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => Model.Topping1)
                </dd>
            }
            if (Model.Topping2 != null)
            {
                <dt>
                    @Html.DisplayNameFor(modelItem => Model.Topping2)
                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => Model.Topping2)
                </dd>
            }
            if (Model.Topping3 != null)
            {
                <dt>
                    @Html.DisplayNameFor(modelItem => Model.Topping3)
                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => Model.Topping3)
                </dd>
            }
            if (Model.Topping4 != null)
            {
                <dt>
                    @Html.DisplayNameFor(modelItem => Model.Topping4)
                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => Model.Topping4)
                </dd>
            }
            if (Model.Topping5 != null)
            {
                @Html.DisplayNameFor(modelItem => Model.Topping5)
                @Html.DisplayFor(modelItem => Model.Topping5)
            }
            if (Model.Topping6 != null)
            {
                <dt>
                    @Html.DisplayNameFor(modelItem => Model.Topping6)
                </dt>
                <dd>
                    @Html.DisplayFor(modelItem => Model.Topping6)
                </dd>
            }
            <dt>
                @Html.DisplayNameFor(model => model.Sauce)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Sauce)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Crust)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Crust)
            </dd>
            }
        </dl>
    <a asp-action="Edit" asp-route-id="@Model.MakeYourOwnID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
