@model TomatoPizzaCafe.Models.MakeYourOwn

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <style>

    html {
        background-image: url('@Url.Content("~/images/tomatocafe.jpg")');
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
        height: 50%;
    }

    footer {
        position: fixed;
        bottom: 0;
    }
    </style>

</div>
<h2>Edit</h2>

<h4>Make Your Own</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MakeYourOwnID" />
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="Sauce" class="control-label"></label>
                    <input asp-for="Sauce" class="form-control" />
                    <span asp-validation-for="Sauce" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Crust" class="control-label"></label>
                    <input asp-for="Crust" class="form-control" />
                    <span asp-validation-for="Crust" class="text-danger"></span>
                </div>
                <label asp-for="Topping1" class="control-label"></label>
                <select asp-for="Topping1">
                    <option value=" "></option>
                    @{
                        foreach (var topping in ViewBag.toppings)
                        {
                            <option default=model.Topping1>@topping.Name</option>
                        }
                    }
                </select>
                <br />
                <label asp-for="Topping2" class="control-label"></label>
                <select asp-for="Topping2">
                    <option value=" "></option>
                    @{
                        foreach (var topping in ViewBag.toppings)
                        {
                            <option>@topping.Name</option>
                        }
                    }
                </select>
                <br />
                <label asp-for="Topping3" class="control-label"></label>
                <select asp-for="Topping3">
                    <option value=" "></option>
                    @{
                        foreach (var topping in ViewBag.toppings)
                        {
                            <option>@topping.Name</option>
                        }
                    }
                </select>
                <br />
                <label asp-for="Topping4" class="control-label"></label>
                <select asp-for="Topping4">
                    <option value=" "></option>
                    @{
                        foreach (var topping in ViewBag.toppings)
                        {
                            <option>@topping.Name</option>
                        }
                    }
                </select>
                <br />
                <label asp-for="Topping5" class="control-label"></label>
                <select asp-for="Topping5">
                    <option value=" "></option>
                    @{
                        foreach (var topping in ViewBag.toppings)
                        {
                            <option>@topping.Name</option>
                        }
                    }
                </select>
                <br />
                <label asp-for="Topping6" class="control-label"></label>
                <select asp-for="Topping6">
                    <option value=" "></option>
                    @{
                        foreach (var topping in ViewBag.toppings)
                        {
                            <option>@topping.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

