@model IEnumerable<TomatoPizzaCafe.Models.MakeYourOwn>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <style>

    html {
        background-image: url('@Url.Content("~/images/tomatocafe.jpg")');
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
        height: 50%;
    }

    footer {
        position: fixed;
        bottom: 0;
    }
    </style>
</div>

<h1 style="font-family: 'Brush Script MT'; font-size: 40px; text-align:center; color: brown">Make Your Own Pizza</h1>

<p>
    <a asp-action="Create">Create New Pizza</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Toppings
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sauce)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Crust)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @{
                    if (item.Topping1 != null)
                    {
                        @Html.DisplayFor(modelItem => item.Topping1)
                        <br />
                    }
                    if (item.Topping2 != null)
                    {
                        @Html.DisplayFor(modelItem => item.Topping2)
                        <br />
                    }
                    if (item.Topping3 != null)
                    {
                        @Html.DisplayFor(modelItem => item.Topping3)
                        <br />
                    }
                    if (item.Topping4 != null)
                    {
                        @Html.DisplayFor(modelItem => item.Topping4)
                        <br />
                    }
                    if (item.Topping5 != null)
                    {
                        @Html.DisplayFor(modelItem => item.Topping5)
                        <br />
                    }
                    if (item.Topping6 != null)
                    {
                        @Html.DisplayFor(modelItem => item.Topping6)
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sauce)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Crust)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MakeYourOwnId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MakeYourOwnId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MakeYourOwnId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
